// euro 2021 widgets

@media screen and (max-width: 1199px){
    // custom design styles
    .tlds_euro_widget[data-widget=scoreboard] a, .tlds_euro_widget[data-widget=scoreboard] address, .tlds_euro_widget[data-widget=scoreboard] article, .tlds_euro_widget[data-widget=scoreboard] aside, .tlds_euro_widget[data-widget=scoreboard] audio, .tlds_euro_widget[data-widget=scoreboard] b, .tlds_euro_widget[data-widget=scoreboard] blockquote, .tlds_euro_widget[data-widget=scoreboard] canvas, .tlds_euro_widget[data-widget=scoreboard] caption, .tlds_euro_widget[data-widget=scoreboard] center, .tlds_euro_widget[data-widget=scoreboard] code, .tlds_euro_widget[data-widget=scoreboard] dd, .tlds_euro_widget[data-widget=scoreboard] details, .tlds_euro_widget[data-widget=scoreboard] div, .tlds_euro_widget[data-widget=scoreboard] dl, .tlds_euro_widget[data-widget=scoreboard] dt, .tlds_euro_widget[data-widget=scoreboard] em, .tlds_euro_widget[data-widget=scoreboard] embed, .tlds_euro_widget[data-widget=scoreboard] fieldset, .tlds_euro_widget[data-widget=scoreboard] figcaption, .tlds_euro_widget[data-widget=scoreboard] figure, .tlds_euro_widget[data-widget=scoreboard] footer, .tlds_euro_widget[data-widget=scoreboard] form, .tlds_euro_widget[data-widget=scoreboard] h1, .tlds_euro_widget[data-widget=scoreboard] h2, .tlds_euro_widget[data-widget=scoreboard] h3, .tlds_euro_widget[data-widget=scoreboard] h4, .tlds_euro_widget[data-widget=scoreboard] h5, .tlds_euro_widget[data-widget=scoreboard] h6, .tlds_euro_widget[data-widget=scoreboard] header, .tlds_euro_widget[data-widget=scoreboard] hgroup, .tlds_euro_widget[data-widget=scoreboard] i, .tlds_euro_widget[data-widget=scoreboard] img, .tlds_euro_widget[data-widget=scoreboard] ins, .tlds_euro_widget[data-widget=scoreboard] label, .tlds_euro_widget[data-widget=scoreboard] legend, .tlds_euro_widget[data-widget=scoreboard] li, .tlds_euro_widget[data-widget=scoreboard] mark, .tlds_euro_widget[data-widget=scoreboard] menu, .tlds_euro_widget[data-widget=scoreboard] nav, .tlds_euro_widget[data-widget=scoreboard] ol, .tlds_euro_widget[data-widget=scoreboard] output, .tlds_euro_widget[data-widget=scoreboard] p, .tlds_euro_widget[data-widget=scoreboard] pre, .tlds_euro_widget[data-widget=scoreboard] q, .tlds_euro_widget[data-widget=scoreboard] ruby, .tlds_euro_widget[data-widget=scoreboard] section, .tlds_euro_widget[data-widget=scoreboard] small, .tlds_euro_widget[data-widget=scoreboard] span, .tlds_euro_widget[data-widget=scoreboard] strike, .tlds_euro_widget[data-widget=scoreboard] strong, .tlds_euro_widget[data-widget=scoreboard] summary, .tlds_euro_widget[data-widget=scoreboard] table, .tlds_euro_widget[data-widget=scoreboard] tbody, .tlds_euro_widget[data-widget=scoreboard] td, .tlds_euro_widget[data-widget=scoreboard] tfoot, .tlds_euro_widget[data-widget=scoreboard] th, .tlds_euro_widget[data-widget=scoreboard] thead, .tlds_euro_widget[data-widget=scoreboard] time, .tlds_euro_widget[data-widget=scoreboard] tr, .tlds_euro_widget[data-widget=scoreboard] u, .tlds_euro_widget[data-widget=scoreboard] ul, .tlds_euro_widget[data-widget=scoreboard] video {
        font: bold 14px 'PT Sans',Arial,sans-serif;
    }
}
.tlds_euro_widget {
    background: transparent !important;
    padding: 0 15px;

    @media screen and (min-width: 768px){
        padding: 0 30px;
    }
    @media screen and (min-width: 992px){
        padding: 0;
        &[data-widget=scoreboard], &[data-widget=match_stats] {
            margin: 0 auto;
        }

    }
    @media screen and (max-width: 1199px){
        .scoreboard {
            border-top: solid 1px #d8d8d8;
            margin-top: -1px;
        }

        // custom design styles
        &[data-widget=scoreboard], &[data-widget=match_stats] {
            .m_score span {
                font-weight: bold;
            }
            .m_away_img {
                margin-left: 4px;
            }
            .match {
                border-bottom: 0;
            }

            .m_away, .m_away span, .m_home, .m_home span {
                font-family: 'PT Sans',Arial,sans-serif;
                font-weight: bold;
            }
            .m_home {
                left: 0;
            }
            .m_away {
                right: 0;
            }

            &.s2 {
                .m_home_img {
                    margin-right: 4px;
                }
                .m_away, .m_away span, .m_home, .m_home span {
                    font-size: 14px;
                    text-transform: uppercase;
                }
            }
            &.s3 {
                .m_home_img {
                    margin-right: 4px;
                }
                .m_away, .m_away span, .m_home, .m_home span {
                    font-size: 14px;
                    text-transform: uppercase;
                }
            }
            &.s4 {
                .m_home_img {
                    margin-right: 4px;
                }
                .m_away, .m_away span, .m_home, .m_home span {
                    font-size: 16px;
                    text-transform: uppercase;
                }
            }
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        .scoreboard {
            margin-top: 20px;
        }
    }
    
    h6 {
        font-size: 0;
        line-height: 22px;
        display: flex;
        align-items: center;
        padding: 15px 0 5px 0;
        border-bottom: solid 1px #d8d8d8;

        @media screen and (max-width: 1199px){
            //display: inline-block;
            // padding: 7px 0 5px 0;
            // border-bottom: 0;
            // border-top: 0;
            // margin-top: 0;
            // position: relative;
            // overflow: unset;
            display: none;

            &:before {
                content: '';
                border-top: 2px solid #e25900;
                position: absolute;
                width: 100%;
                top: -1px;
                z-index: 1;
                left: 0;
            }
        }

        // desktop hide
        @media screen and (min-width: 1200px){
            display: none;
        }
    
        &:after {
            content: 'foci eb';
            color: #e25900;
            font-size: 14px;
            line-height: 19px;
            text-transform: uppercase;
            font-weight: bold;
            font-family: 'PT Sans', Arial, sans-serif;
            padding: 0;
        }

    }

    // app styles + small device
    @media screen and (max-width: 390px){
        padding: 0;

        &[data-widget=scoreboard], &[data-widget=match_stats] {
            &.s1 {
                .m_line {
                    padding: 28px 0 0;
                }
                .m_status {
                    padding: 4px 0 3px 0;
                }
            }
            &.s2 {
                //long name setting
                .m_away, .m_away span, .m_home, .m_home span {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                }
                .m_home, .m_away {
                    width: 38%;
                    span {
                        display: none;
                    }
                }
                .m_away {
                    span {
                        order: 2;
                    }
                }
                .m_line {
                    padding: 28px 0 0;
                }
            }

        }
    }

    @media screen and (max-width: 359px){
        padding: 0;

        &[data-widget=scoreboard], &[data-widget=match_stats] {
            &.s1 {
                .m_away, .m_away span, .m_home, .m_home span {
                    text-transform: none;
                    font-size: 13px;
                }

                //long name setting
                .m_away, .m_away span, .m_home, .m_home span {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                }
                .m_home, .m_away {
                    width: 35%;
                    span {
                        display: none;
                    }
                }
                .m_away {
                    span {
                        order: 2;
                    }
                }

                h6 {
                    padding: 10px 0 5px 5px;
                }
            }
        }
    }
    @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {


    }
}

.boxheader.widget-header {
    @media screen and (max-width: 1199px){
        padding-bottom: 5px;
    }
    @media screen and (min-width: 1200px){
        margin-bottom: 0 !important;
        padding: 20px 0 10px 0 !important;
        border-bottom: 0 !important;
    }
}

#tl_cplus.s1 #content_title img {
    height: auto;
    max-width: 100%;
    width: auto;
}

//not desktop cimlap
body:not(.main-page) {
    @media screen and (min-width: 992px){
        .tlds_euro_widget {
            &[data-widget=scoreboard], &[data-widget=match_stats] {
                width: 690px;
            }
        }
    }

    @media screen and (min-width: 1200px){
        .cimlap-grid {
            &.articlelist-element-wrap {
                .tlds_euro_widget {
                    &[data-widget=scoreboard], &[data-widget=match_stats] {
                        width: 100%;
                    }
                }
            }
        }
    }
}
body.column-page {
    .tlds_euro_widget {
        &[data-widget=scoreboard], &[data-widget=match_stats] {
            @media screen and (min-width: 992px){
                width: 380px;
            }
        }
    }
}

// dark modes
body.read-mode, body.settings-sepia {
    .tlds_euro_widget {
        &[data-widget=scoreboard], &[data-widget=match_stats] {
            background: transparent;
        }
        &[data-widget=scoreboard].s1, &[data-widget=match_stats].s1 {
            h6 {
                border-bottom: 0;//solid 1px #464545;
            }
        
            .match {
                border-bottom: solid 1px #464545;
            }
            .m_status, .m_status span {
                color: #e0e0e0;
            }
        }
        &[data-widget=scoreboard] span, &[data-widget=match_stats] span {
            color: #e0e0e0;
        }
    }

    // full widget
    #tl_cplus a, #tl_cplus address, #tl_cplus article, #tl_cplus aside, #tl_cplus audio, #tl_cplus b, #tl_cplus blockquote, #tl_cplus canvas, #tl_cplus caption, #tl_cplus center, #tl_cplus code, #tl_cplus dd, #tl_cplus details, #tl_cplus div, #tl_cplus dl, #tl_cplus dt, #tl_cplus em, #tl_cplus embed, #tl_cplus fieldset, #tl_cplus figcaption, #tl_cplus figure, #tl_cplus footer, #tl_cplus form, #tl_cplus h1, #tl_cplus h2, #tl_cplus h3, #tl_cplus h4, #tl_cplus h5, #tl_cplus h6, #tl_cplus header, #tl_cplus hgroup, #tl_cplus i, #tl_cplus img, #tl_cplus ins, #tl_cplus label, #tl_cplus legend, #tl_cplus li, #tl_cplus mark, #tl_cplus menu, #tl_cplus nav, #tl_cplus ol, #tl_cplus output, #tl_cplus p, #tl_cplus pre, #tl_cplus q, #tl_cplus ruby, #tl_cplus section, #tl_cplus small, #tl_cplus span, #tl_cplus strike, #tl_cplus strong, #tl_cplus summary, #tl_cplus table, #tl_cplus tbody, #tl_cplus td, #tl_cplus tfoot, #tl_cplus th, #tl_cplus thead, #tl_cplus time, #tl_cplus tr, #tl_cplus u, #tl_cplus ul, #tl_cplus video {
        color: #fff;
    }
    #tl_cplus {
        background: #111;
        padding: 20px;
    }
    #tl_cplus.s1 #content_title {
        background: transparent;
    }
    #tl_cplus.s1 .page_menu li.on a {
        color: #7e7e7e;
        &:hover {
            color: #fff;
        }
    }
    #tl_cplus.s1 .tl_container {
        background: transparent;
    }

}

