@media screen and (max-width: 1199px) {
  .tlds_euro_widget[data-widget=scoreboard] a,
  .tlds_euro_widget[data-widget=scoreboard] address,
  .tlds_euro_widget[data-widget=scoreboard] article,
  .tlds_euro_widget[data-widget=scoreboard] aside,
  .tlds_euro_widget[data-widget=scoreboard] audio,
  .tlds_euro_widget[data-widget=scoreboard] b,
  .tlds_euro_widget[data-widget=scoreboard] blockquote,
  .tlds_euro_widget[data-widget=scoreboard] canvas,
  .tlds_euro_widget[data-widget=scoreboard] caption,
  .tlds_euro_widget[data-widget=scoreboard] center,
  .tlds_euro_widget[data-widget=scoreboard] code,
  .tlds_euro_widget[data-widget=scoreboard] dd,
  .tlds_euro_widget[data-widget=scoreboard] details,
  .tlds_euro_widget[data-widget=scoreboard] div,
  .tlds_euro_widget[data-widget=scoreboard] dl,
  .tlds_euro_widget[data-widget=scoreboard] dt,
  .tlds_euro_widget[data-widget=scoreboard] em,
  .tlds_euro_widget[data-widget=scoreboard] embed,
  .tlds_euro_widget[data-widget=scoreboard] fieldset,
  .tlds_euro_widget[data-widget=scoreboard] figcaption,
  .tlds_euro_widget[data-widget=scoreboard] figure,
  .tlds_euro_widget[data-widget=scoreboard] footer,
  .tlds_euro_widget[data-widget=scoreboard] form,
  .tlds_euro_widget[data-widget=scoreboard] h1,
  .tlds_euro_widget[data-widget=scoreboard] h2,
  .tlds_euro_widget[data-widget=scoreboard] h3,
  .tlds_euro_widget[data-widget=scoreboard] h4,
  .tlds_euro_widget[data-widget=scoreboard] h5,
  .tlds_euro_widget[data-widget=scoreboard] h6,
  .tlds_euro_widget[data-widget=scoreboard] header,
  .tlds_euro_widget[data-widget=scoreboard] hgroup,
  .tlds_euro_widget[data-widget=scoreboard] i,
  .tlds_euro_widget[data-widget=scoreboard] img,
  .tlds_euro_widget[data-widget=scoreboard] ins,
  .tlds_euro_widget[data-widget=scoreboard] label,
  .tlds_euro_widget[data-widget=scoreboard] legend,
  .tlds_euro_widget[data-widget=scoreboard] li,
  .tlds_euro_widget[data-widget=scoreboard] mark,
  .tlds_euro_widget[data-widget=scoreboard] menu,
  .tlds_euro_widget[data-widget=scoreboard] nav,
  .tlds_euro_widget[data-widget=scoreboard] ol,
  .tlds_euro_widget[data-widget=scoreboard] output,
  .tlds_euro_widget[data-widget=scoreboard] p,
  .tlds_euro_widget[data-widget=scoreboard] pre,
  .tlds_euro_widget[data-widget=scoreboard] q,
  .tlds_euro_widget[data-widget=scoreboard] ruby,
  .tlds_euro_widget[data-widget=scoreboard] section,
  .tlds_euro_widget[data-widget=scoreboard] small,
  .tlds_euro_widget[data-widget=scoreboard] span,
  .tlds_euro_widget[data-widget=scoreboard] strike,
  .tlds_euro_widget[data-widget=scoreboard] strong,
  .tlds_euro_widget[data-widget=scoreboard] summary,
  .tlds_euro_widget[data-widget=scoreboard] table,
  .tlds_euro_widget[data-widget=scoreboard] tbody,
  .tlds_euro_widget[data-widget=scoreboard] td,
  .tlds_euro_widget[data-widget=scoreboard] tfoot,
  .tlds_euro_widget[data-widget=scoreboard] th,
  .tlds_euro_widget[data-widget=scoreboard] thead,
  .tlds_euro_widget[data-widget=scoreboard] time,
  .tlds_euro_widget[data-widget=scoreboard] tr,
  .tlds_euro_widget[data-widget=scoreboard] u,
  .tlds_euro_widget[data-widget=scoreboard] ul,
  .tlds_euro_widget[data-widget=scoreboard] video {
    font: bold 14px 'PT Sans', Arial, sans-serif;
  }
}
.tlds_euro_widget {
  background: transparent !important;
  padding: 0 15px;
}
@media screen and (min-width: 768px) {
  .tlds_euro_widget {
    padding: 0 30px;
  }
}
@media screen and (min-width: 992px) {
  .tlds_euro_widget {
    padding: 0;
  }
  .tlds_euro_widget[data-widget=scoreboard],
  .tlds_euro_widget[data-widget=match_stats] {
    margin: 0 auto;
  }
}
@media screen and (max-width: 1199px) {
  .tlds_euro_widget .scoreboard {
    border-top: solid 1px #d8d8d8;
    margin-top: -1px;
  }
  .tlds_euro_widget[data-widget=scoreboard] .m_score span,
  .tlds_euro_widget[data-widget=match_stats] .m_score span {
    font-weight: bold;
  }
  .tlds_euro_widget[data-widget=scoreboard] .m_away_img,
  .tlds_euro_widget[data-widget=match_stats] .m_away_img {
    margin-left: 4px;
  }
  .tlds_euro_widget[data-widget=scoreboard] .match,
  .tlds_euro_widget[data-widget=match_stats] .match {
    border-bottom: 0;
  }
  .tlds_euro_widget[data-widget=scoreboard].s2 .m_home_img,
  .tlds_euro_widget[data-widget=match_stats].s2 .m_home_img {
    margin-right: 4px;
  }
  .tlds_euro_widget[data-widget=scoreboard].s2 .m_away,
  .tlds_euro_widget[data-widget=match_stats].s2 .m_away,
  .tlds_euro_widget[data-widget=scoreboard].s2 .m_away span,
  .tlds_euro_widget[data-widget=match_stats].s2 .m_away span,
  .tlds_euro_widget[data-widget=scoreboard].s2 .m_home,
  .tlds_euro_widget[data-widget=match_stats].s2 .m_home,
  .tlds_euro_widget[data-widget=scoreboard].s2 .m_home span,
  .tlds_euro_widget[data-widget=match_stats].s2 .m_home span {
    font-size: 14px;
    text-transform: uppercase;
  }
  .tlds_euro_widget[data-widget=scoreboard].s3 .m_home_img,
  .tlds_euro_widget[data-widget=match_stats].s3 .m_home_img {
    margin-right: 4px;
  }
  .tlds_euro_widget[data-widget=scoreboard].s3 .m_away,
  .tlds_euro_widget[data-widget=match_stats].s3 .m_away,
  .tlds_euro_widget[data-widget=scoreboard].s3 .m_away span,
  .tlds_euro_widget[data-widget=match_stats].s3 .m_away span,
  .tlds_euro_widget[data-widget=scoreboard].s3 .m_home,
  .tlds_euro_widget[data-widget=match_stats].s3 .m_home,
  .tlds_euro_widget[data-widget=scoreboard].s3 .m_home span,
  .tlds_euro_widget[data-widget=match_stats].s3 .m_home span {
    font-size: 14px;
    text-transform: uppercase;
  }
  .tlds_euro_widget[data-widget=scoreboard].s4 .m_home_img,
  .tlds_euro_widget[data-widget=match_stats].s4 .m_home_img {
    margin-right: 4px;
  }
  .tlds_euro_widget[data-widget=scoreboard].s4 .m_away,
  .tlds_euro_widget[data-widget=match_stats].s4 .m_away,
  .tlds_euro_widget[data-widget=scoreboard].s4 .m_away span,
  .tlds_euro_widget[data-widget=match_stats].s4 .m_away span,
  .tlds_euro_widget[data-widget=scoreboard].s4 .m_home,
  .tlds_euro_widget[data-widget=match_stats].s4 .m_home,
  .tlds_euro_widget[data-widget=scoreboard].s4 .m_home span,
  .tlds_euro_widget[data-widget=match_stats].s4 .m_home span {
    font-size: 20px;
    text-transform: uppercase;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .tlds_euro_widget .scoreboard {
    margin-top: 20px;
  }
}
.tlds_euro_widget h6 {
  font-size: 0;
  line-height: 22px;
  display: flex;
  align-items: center;
  padding: 15px 0 5px 0;
  border-bottom: solid 1px #d8d8d8;
}
@media screen and (max-width: 1199px) {
  .tlds_euro_widget h6 {
    display: none;
  }
  .tlds_euro_widget h6:before {
    content: '';
    border-top: 2px solid #e25900;
    position: absolute;
    width: 100%;
    top: -1px;
    z-index: 1;
    left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .tlds_euro_widget h6 {
    display: none;
  }
}
.tlds_euro_widget h6:after {
  content: 'foci eb';
  color: #e25900;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'PT Sans', Arial, sans-serif;
  padding: 0;
}
@media screen and (max-width: 359px) {
  .tlds_euro_widget {
    padding: 0;
  }
  .tlds_euro_widget[data-widget=scoreboard].s1 .m_away,
  .tlds_euro_widget[data-widget=match_stats].s1 .m_away,
  .tlds_euro_widget[data-widget=scoreboard].s1 .m_away span,
  .tlds_euro_widget[data-widget=match_stats].s1 .m_away span,
  .tlds_euro_widget[data-widget=scoreboard].s1 .m_home,
  .tlds_euro_widget[data-widget=match_stats].s1 .m_home,
  .tlds_euro_widget[data-widget=scoreboard].s1 .m_home span,
  .tlds_euro_widget[data-widget=match_stats].s1 .m_home span {
    text-transform: none;
  }
  .tlds_euro_widget[data-widget=scoreboard].s1 h6,
  .tlds_euro_widget[data-widget=match_stats].s1 h6 {
    padding: 10px 0 5px 5px;
  }
}
@media screen and (max-width: 1199px) {
  .boxheader.widget-header {
    padding-bottom: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .boxheader.widget-header {
    margin-bottom: 0 !important;
    padding: 20px 0 10px 0 !important;
    border-bottom: 0 !important;
  }
}
#tl_cplus.s1 #content_title img {
  height: auto;
  max-width: 100%;
  width: auto;
}
@media screen and (min-width: 992px) {
  body:not(.main-page) .tlds_euro_widget[data-widget=scoreboard],
  body:not(.main-page) .tlds_euro_widget[data-widget=match_stats] {
    width: 690px;
  }
}
@media screen and (min-width: 1200px) {
  body:not(.main-page) .cimlap-grid.articlelist-element-wrap .tlds_euro_widget[data-widget=scoreboard],
  body:not(.main-page) .cimlap-grid.articlelist-element-wrap .tlds_euro_widget[data-widget=match_stats] {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  body.column-page .tlds_euro_widget[data-widget=scoreboard],
  body.column-page .tlds_euro_widget[data-widget=match_stats] {
    width: 380px;
  }
}
body.read-mode .tlds_euro_widget[data-widget=scoreboard],
body.settings-sepia .tlds_euro_widget[data-widget=scoreboard],
body.read-mode .tlds_euro_widget[data-widget=match_stats],
body.settings-sepia .tlds_euro_widget[data-widget=match_stats] {
  background: transparent;
}
body.read-mode .tlds_euro_widget[data-widget=scoreboard].s1 h6,
body.settings-sepia .tlds_euro_widget[data-widget=scoreboard].s1 h6,
body.read-mode .tlds_euro_widget[data-widget=match_stats].s1 h6,
body.settings-sepia .tlds_euro_widget[data-widget=match_stats].s1 h6 {
  border-bottom: 0;
}
body.read-mode .tlds_euro_widget[data-widget=scoreboard].s1 .match,
body.settings-sepia .tlds_euro_widget[data-widget=scoreboard].s1 .match,
body.read-mode .tlds_euro_widget[data-widget=match_stats].s1 .match,
body.settings-sepia .tlds_euro_widget[data-widget=match_stats].s1 .match {
  border-bottom: solid 1px #464545;
}
body.read-mode .tlds_euro_widget[data-widget=scoreboard].s1 .m_status,
body.settings-sepia .tlds_euro_widget[data-widget=scoreboard].s1 .m_status,
body.read-mode .tlds_euro_widget[data-widget=match_stats].s1 .m_status,
body.settings-sepia .tlds_euro_widget[data-widget=match_stats].s1 .m_status,
body.read-mode .tlds_euro_widget[data-widget=scoreboard].s1 .m_status span,
body.settings-sepia .tlds_euro_widget[data-widget=scoreboard].s1 .m_status span,
body.read-mode .tlds_euro_widget[data-widget=match_stats].s1 .m_status span,
body.settings-sepia .tlds_euro_widget[data-widget=match_stats].s1 .m_status span {
  color: #e0e0e0;
}
body.read-mode .tlds_euro_widget[data-widget=scoreboard] span,
body.settings-sepia .tlds_euro_widget[data-widget=scoreboard] span,
body.read-mode .tlds_euro_widget[data-widget=match_stats] span,
body.settings-sepia .tlds_euro_widget[data-widget=match_stats] span {
  color: #e0e0e0;
}
body.read-mode #tl_cplus a,
body.settings-sepia #tl_cplus a,
body.read-mode #tl_cplus address,
body.settings-sepia #tl_cplus address,
body.read-mode #tl_cplus article,
body.settings-sepia #tl_cplus article,
body.read-mode #tl_cplus aside,
body.settings-sepia #tl_cplus aside,
body.read-mode #tl_cplus audio,
body.settings-sepia #tl_cplus audio,
body.read-mode #tl_cplus b,
body.settings-sepia #tl_cplus b,
body.read-mode #tl_cplus blockquote,
body.settings-sepia #tl_cplus blockquote,
body.read-mode #tl_cplus canvas,
body.settings-sepia #tl_cplus canvas,
body.read-mode #tl_cplus caption,
body.settings-sepia #tl_cplus caption,
body.read-mode #tl_cplus center,
body.settings-sepia #tl_cplus center,
body.read-mode #tl_cplus code,
body.settings-sepia #tl_cplus code,
body.read-mode #tl_cplus dd,
body.settings-sepia #tl_cplus dd,
body.read-mode #tl_cplus details,
body.settings-sepia #tl_cplus details,
body.read-mode #tl_cplus div,
body.settings-sepia #tl_cplus div,
body.read-mode #tl_cplus dl,
body.settings-sepia #tl_cplus dl,
body.read-mode #tl_cplus dt,
body.settings-sepia #tl_cplus dt,
body.read-mode #tl_cplus em,
body.settings-sepia #tl_cplus em,
body.read-mode #tl_cplus embed,
body.settings-sepia #tl_cplus embed,
body.read-mode #tl_cplus fieldset,
body.settings-sepia #tl_cplus fieldset,
body.read-mode #tl_cplus figcaption,
body.settings-sepia #tl_cplus figcaption,
body.read-mode #tl_cplus figure,
body.settings-sepia #tl_cplus figure,
body.read-mode #tl_cplus footer,
body.settings-sepia #tl_cplus footer,
body.read-mode #tl_cplus form,
body.settings-sepia #tl_cplus form,
body.read-mode #tl_cplus h1,
body.settings-sepia #tl_cplus h1,
body.read-mode #tl_cplus h2,
body.settings-sepia #tl_cplus h2,
body.read-mode #tl_cplus h3,
body.settings-sepia #tl_cplus h3,
body.read-mode #tl_cplus h4,
body.settings-sepia #tl_cplus h4,
body.read-mode #tl_cplus h5,
body.settings-sepia #tl_cplus h5,
body.read-mode #tl_cplus h6,
body.settings-sepia #tl_cplus h6,
body.read-mode #tl_cplus header,
body.settings-sepia #tl_cplus header,
body.read-mode #tl_cplus hgroup,
body.settings-sepia #tl_cplus hgroup,
body.read-mode #tl_cplus i,
body.settings-sepia #tl_cplus i,
body.read-mode #tl_cplus img,
body.settings-sepia #tl_cplus img,
body.read-mode #tl_cplus ins,
body.settings-sepia #tl_cplus ins,
body.read-mode #tl_cplus label,
body.settings-sepia #tl_cplus label,
body.read-mode #tl_cplus legend,
body.settings-sepia #tl_cplus legend,
body.read-mode #tl_cplus li,
body.settings-sepia #tl_cplus li,
body.read-mode #tl_cplus mark,
body.settings-sepia #tl_cplus mark,
body.read-mode #tl_cplus menu,
body.settings-sepia #tl_cplus menu,
body.read-mode #tl_cplus nav,
body.settings-sepia #tl_cplus nav,
body.read-mode #tl_cplus ol,
body.settings-sepia #tl_cplus ol,
body.read-mode #tl_cplus output,
body.settings-sepia #tl_cplus output,
body.read-mode #tl_cplus p,
body.settings-sepia #tl_cplus p,
body.read-mode #tl_cplus pre,
body.settings-sepia #tl_cplus pre,
body.read-mode #tl_cplus q,
body.settings-sepia #tl_cplus q,
body.read-mode #tl_cplus ruby,
body.settings-sepia #tl_cplus ruby,
body.read-mode #tl_cplus section,
body.settings-sepia #tl_cplus section,
body.read-mode #tl_cplus small,
body.settings-sepia #tl_cplus small,
body.read-mode #tl_cplus span,
body.settings-sepia #tl_cplus span,
body.read-mode #tl_cplus strike,
body.settings-sepia #tl_cplus strike,
body.read-mode #tl_cplus strong,
body.settings-sepia #tl_cplus strong,
body.read-mode #tl_cplus summary,
body.settings-sepia #tl_cplus summary,
body.read-mode #tl_cplus table,
body.settings-sepia #tl_cplus table,
body.read-mode #tl_cplus tbody,
body.settings-sepia #tl_cplus tbody,
body.read-mode #tl_cplus td,
body.settings-sepia #tl_cplus td,
body.read-mode #tl_cplus tfoot,
body.settings-sepia #tl_cplus tfoot,
body.read-mode #tl_cplus th,
body.settings-sepia #tl_cplus th,
body.read-mode #tl_cplus thead,
body.settings-sepia #tl_cplus thead,
body.read-mode #tl_cplus time,
body.settings-sepia #tl_cplus time,
body.read-mode #tl_cplus tr,
body.settings-sepia #tl_cplus tr,
body.read-mode #tl_cplus u,
body.settings-sepia #tl_cplus u,
body.read-mode #tl_cplus ul,
body.settings-sepia #tl_cplus ul,
body.read-mode #tl_cplus video,
body.settings-sepia #tl_cplus video {
  color: #fff;
}
body.read-mode #tl_cplus,
body.settings-sepia #tl_cplus {
  background: #111;
  padding: 20px;
}
body.read-mode #tl_cplus.s1 #content_title,
body.settings-sepia #tl_cplus.s1 #content_title {
  background: transparent;
}
body.read-mode #tl_cplus.s1 .page_menu li.on a,
body.settings-sepia #tl_cplus.s1 .page_menu li.on a {
  color: #7e7e7e;
}
body.read-mode #tl_cplus.s1 .page_menu li.on a:hover,
body.settings-sepia #tl_cplus.s1 .page_menu li.on a:hover {
  color: #fff;
}
body.read-mode #tl_cplus.s1 .tl_container,
body.settings-sepia #tl_cplus.s1 .tl_container {
  background: transparent;
}
