// euro 2021 widgets

.tlds_euro_widget {
    background: transparent !important;
    padding: 0 20px;
    
    @media screen and (min-width: 768px){
        padding: 0 30px;
    }
    @media screen and (min-width: 992px){
        padding: 0;
        &[data-widget=scoreboard] {
            max-width: 690px;
            margin: 0 auto;
        }
    }
    
    &[data-widget=scoreboard].s1 h6 {
        font-size: 0;
        line-height: 22px;
        display: flex;
        align-items: center;
        padding: 15px 0 5px 0;
        border-bottom: solid 1px #d8d8d8;
    
        &:after {
            content: 'foci eb';
            color: #e25900;
            font-size: 14px;
            line-height: 19px;
            text-transform: uppercase;
            font-weight: bold;
            font-family: 'PT Sans', Arial, sans-serif;
            padding: 0;
        }
    }

    .body.read-mode & {
        &[data-widget=scoreboard].s1 {
            h6 {
                border-bottom: solid 1px #464545;
            }
        
            .match {
                border-bottom: solid 1px #464545;
            }
            .m_status, .m_status span {
                color: inherit;
            }
        }
        &[data-widget=scoreboard] span {
            color: #e0e0e0;
        }

    }

    // app styles
    @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {

    }
}