.olympic-medal-editor {
  padding: 20px;
  max-width: 580px;
  width: 100%;
}
@media screen and (max-width: 1199px) {
  .olympic-medal-editor {
    padding: 0;
    max-width: 690px;
    width: 100%;
  }
}
@media screen and (max-width: 360px) {
  .olympic-medal-editor {
    width: 100vw;
    margin: 0 0 0 -20px;
  }
}
.olympic-medal-editor table.table.table-striped,
.olympic-medal-editor table.articleTable {
  margin: 10px 0 20px;
  /* egyedi sor szín a kiemeléshez */
}
.olympic-medal-editor table.table.table-striped th,
.olympic-medal-editor table.articleTable th {
  padding: 10px 5px;
  font-weight: normal;
}
.olympic-medal-editor table.table.table-striped td,
.olympic-medal-editor table.articleTable td {
  padding: 10px 5px;
  font-weight: bold;
  border: 1px solid #ddd;
}
.olympic-medal-editor table.table.table-striped > tbody > tr:nth-of-type(odd),
.olympic-medal-editor table.articleTable > tbody > tr:nth-of-type(odd) {
  background-color: #efefef;
}
.olympic-medal-editor table.table.table-striped > tbody > tr:nth-of-type(even),
.olympic-medal-editor table.articleTable > tbody > tr:nth-of-type(even) {
  background-color: #fff;
}
.olympic-medal-editor table.table.table-striped thead,
.olympic-medal-editor table.articleTable thead {
  background: #444444;
  color: #fff;
}
.olympic-medal-editor table.table.table-striped thead tr th:nth-child(n+3),
.olympic-medal-editor table.articleTable thead tr th:nth-child(n+3) {
  text-align: center;
}
.olympic-medal-editor table.table.table-striped thead tr th:nth-child(3),
.olympic-medal-editor table.articleTable thead tr th:nth-child(3) {
  background: #d49400;
}
.olympic-medal-editor table.table.table-striped thead tr th:nth-child(4),
.olympic-medal-editor table.articleTable thead tr th:nth-child(4) {
  background: #85858e;
}
.olympic-medal-editor table.table.table-striped thead tr th:nth-child(5),
.olympic-medal-editor table.articleTable thead tr th:nth-child(5) {
  background: #a94231;
}
.olympic-medal-editor table.table.table-striped tbody tr td:nth-child(1),
.olympic-medal-editor table.articleTable tbody tr td:nth-child(1),
.olympic-medal-editor table.table.table-striped tbody tr td.articleTableBody:nth-child(1),
.olympic-medal-editor table.articleTable tbody tr td.articleTableBody:nth-child(1) {
  text-align: center;
}
.olympic-medal-editor table.table.table-striped tbody tr td:nth-child(n+3),
.olympic-medal-editor table.articleTable tbody tr td:nth-child(n+3),
.olympic-medal-editor table.table.table-striped tbody tr td.articleTableBody:nth-child(n+3),
.olympic-medal-editor table.articleTable tbody tr td.articleTableBody:nth-child(n+3) {
  text-align: center;
}
.olympic-medal-editor table.table.table-striped tbody tr td.articleTableHeader,
.olympic-medal-editor table.articleTable tbody tr td.articleTableHeader {
  color: #fff;
  background: #444444;
}
.olympic-medal-editor table.table.table-striped tbody tr td.articleTableHeader:nth-child(n+3),
.olympic-medal-editor table.articleTable tbody tr td.articleTableHeader:nth-child(n+3) {
  text-align: center;
}
.olympic-medal-editor table.table.table-striped tbody tr td.articleTableHeader:nth-child(3),
.olympic-medal-editor table.articleTable tbody tr td.articleTableHeader:nth-child(3) {
  background: #d49400;
}
.olympic-medal-editor table.table.table-striped tbody tr td.articleTableHeader:nth-child(4),
.olympic-medal-editor table.articleTable tbody tr td.articleTableHeader:nth-child(4) {
  background: #85858e;
}
.olympic-medal-editor table.table.table-striped tbody tr td.articleTableHeader:nth-child(5),
.olympic-medal-editor table.articleTable tbody tr td.articleTableHeader:nth-child(5) {
  background: #a94231;
}
.olympic-medal-editor table.table.table-striped > tbody > tr:nth-of-type(12),
.olympic-medal-editor table.articleTable > tbody > tr:nth-of-type(12) {
  background-color: #f3ad77 !important;
}
.olympic-medal-editor table.table.table-striped tr th:nth-child(1),
.olympic-medal-editor table.articleTable tr th:nth-child(1) {
  font-weight: bold;
  text-align: center;
}
.olympic-medal-editor table.table.table-striped tbody tr:last-child td,
.olympic-medal-editor table.articleTable tbody tr:last-child td {
  border-bottom: 0;
}
.olympic-medal-table-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.olympic-medal-table-header h2 {
  margin: 0 0 0 15px;
  font-family: 'PT Sans', sans-serif;
  font-size: 27px;
  color: #202b5f;
  display: flex;
  position: relative;
  align-items: center;
}
.olympic-medal-table-header h2:before {
  content: '';
  background-image: url(https://olympics.com/tokyo-2020/en/d3images/emblem/olympics/emblem-tokyo2020.svg);
  width: 70px;
  height: 90px;
  display: block;
  background-size: 100%;
  margin-right: 15px;
}
/* https://olympics.com/tokyo-2020/en/d3images/emblem/olympics/emblem-tokyo2020.svg */
body.settings-sepia .olympic-medal-editor table.table.table-striped,
body.settings-sepia .olympic-medal-editor table.articleTable {
  margin-top: 0;
}
body.settings-sepia .olympic-medal-editor table.table.table-striped tr th:nth-child(1),
body.settings-sepia .olympic-medal-editor table.articleTable tr th:nth-child(1) {
  color: #222;
}
body.settings-sepia .olympic-medal-editor table.table.table-striped > tbody > tr:nth-of-type(odd),
body.settings-sepia .olympic-medal-editor table.articleTable > tbody > tr:nth-of-type(odd) {
  background-color: #111111;
}
body.settings-sepia .olympic-medal-editor table.table.table-striped > tbody > tr:nth-of-type(even),
body.settings-sepia .olympic-medal-editor table.articleTable > tbody > tr:nth-of-type(even) {
  background-color: #1a1a1a;
}
body.settings-sepia .olympic-medal-editor table.table.table-striped tbody tr td.articleTableHeader:nth-child(2),
body.settings-sepia .olympic-medal-editor table.articleTable tbody tr td.articleTableHeader:nth-child(2),
body.settings-sepia .olympic-medal-editor table.table.table-striped tbody tr td.articleTableHeader:nth-child(1),
body.settings-sepia .olympic-medal-editor table.articleTable tbody tr td.articleTableHeader:nth-child(1) {
  color: #848484;
}
body.settings-sepia .olympic-medal-editor .olympic-medal-table-header {
  background: #d7d7dc;
  padding: 10px 0;
}
body.settings-sepia .olympic-medal-editor .olympic-medal-table-header h2 {
  color: #111111;
}
@media screen and (max-width: 1199px) {
  .olympic-medal-table-header {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 767px) {
  .olympic-medal-table-header h2 {
    font-size: 20px;
  }
  .olympic-medal-table-header span.olympic-logo {
    width: 60px;
    height: 80px;
  }
}
@media screen and (max-width: 359px) {
  .olympic-medal-editor table.table.table-striped {
    font-size: 14px;
  }
}
